<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum home page</title>
    <link rel="icon" href="images/logodf-removebg-preview.ico">
    <link rel="stylesheet" href="fs/home.css">
</head>
<body>
    <!-- Header -->
    <section class="header">
        <nav>
            <a href="home.html"><img src="fs/images/nn1.png"></a>
            <div class="lien-accueil">
                <ul>
                    <li><a href="">Accueil</a></li>
                </ul>
            </div>
            <div class="lien-inscrire">
                <ul>
                    <li><button type="submit"><a href="">S'inscrire</a></button></li>
                </ul>
            </div>
            <div class="lien-connecter">
                <ul>
                    <li><button type="submit"><a href="">Se connecter</a></button></li>
                </ul>
            </div>
        </nav>
        <div class="text-box">
            <h1>Le plus grand espace d'échange</h1>
            <p>Connectez-vous à la communauté passionnante de Digibook pour explorer l'avenir ensemble</p>
            <a href="" class="boutton">Visitez le forum -></a>
        </div>
    </section>

    <!-- Offres -->
    <section class="offre">
        <h1>Nos offres</h1>
        <p>Nous vous offrons tout ce qu'il y a de meilleur</p>
        <div class="colone-en-ligne">
            <div class="offre-col">
                <h3>Espace Quiz</h3>
                <p>Nous mettons à votre disposition un espace où vous pourrez être soumis à des quiz pour votre évolution </p>
            </div>
            <div class="offre-col">
                <h3>Chat inbox</h3>
                <p>Nous mettons à votre disposition un espace où vous pourrez être soumis à des quiz pour votre évolution </p>
            </div>
            <div class="offre-col">
                <h3>Publication</h3>
                <p>Nous mettons à votre disposition un espace où vous pourrez être soumis à des quiz pour votre évolution </p>
            </div>
        </div>
    </section>

    <section class="campus">
        <h1>Campus Digifemmes</h1>

        <div class="campus-ligne">
            <div class="composantes">
                <img src="fs/images/digif-acad.jpeg">
                <h3>Digifemmes Academy</h3>
            </div>
            <div class="composantes">
                <img src="fs/images/digif-start.jpeg">
                <h3>Digifemmes Start</h3>
                <!--<p>Nous mettons à votre disposition un espace où vous pourrez être soumis à des quiz pour votre évolution</p>-->
            </div>
            <div class="composantes">
                <img src="fs/images/Df-preneur.jpg">
                <h3>Digifemmes Entrepreneur</h3>
            </div>
        </div>
    </section>
</body>
</html>